body {
    font-family: 'Roboto', arial; /* Fonte moderna */
    background-color: #392361; /* Cor de fundo mais suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550vh; /* Altura da tela ajustada para 100vh */
}

.container {
    background-color: #ffffff;
    padding: 20px; /* Maior espaço interno */
    border-radius: 12px; /* Bordas mais arredondadas */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais suave e pronunciada */
    width: 100%;
    max-width: 750px; /* Largura máxima aumentada */
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff34d; /* Cor do cabeçalho mais tecnológica */
    padding: 10px 20px; /* Maior espaço interno */
    border-radius: 12px 12px 0 0; /* Bordas arredondadas no topo */
}

.header img {
    max-width: 120px; /* Tamanho máximo ajustado */
    height: auto;
}

.header h1 {
    font-size: 30px; /* Tamanho da fonte aumentado */
    color: #392361; /* Cor do texto mais clara */
    margin: 0;
    font-weight: 500; /* Peso da fonte ajustado */
}

.question {
    margin-bottom: 25px; /* Espaçamento aumentado entre perguntas */
}

.question h2 {
    font-size: 20px; /* Tamanho da fonte aumentado */
    margin-bottom: 13px; /* Espaçamento aumentado abaixo do título */
    color: #333;
    font-weight: 500; /* Peso da fonte ajustado */
}

label {
    display: block;
    margin-bottom: 8px; /* Espaçamento ajustado */
    font-size: 18px; /* Tamanho da fonte aumentado */
    color: #666; /* Cor do texto mais suave */
}

button {
    display: block;
    width: 100%;
    padding: 14px; /* Maior espaço interno */
    background-color: #392361; /* Cor de fundo mais tecnológica */
    color: #ffffff; /* Cor do texto clara */
    border: none;
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 18px; /* Tamanho da fonte aumentado */
    font-weight: 600; /* Peso da fonte ajustado */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
}

button:hover {
    background-color: #392361; /* Cor de fundo mais escura ao passar o mouse */
    transform: scale(1.02); /* Efeito de aumento ao passar o mouse */
}

#result {
    margin-top: 25px; /* Espaçamento aumentado acima do resultado */
    font-size: 17px; /* Tamanho da fonte aumentado */
    text-align: center;
    color: #333;
    font-weight: 300; /* Peso da fonte ajustado */
}
